# Python cache and virtual env
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/

#Environment Files
.env
.env.*
!.env.example

#Flask instance/config leftovers
instance/

#data file because the csv file is huge
data/
!data/.gitkeep